mat-card{
  width:500px;

  mat-card-title{
    font-weight:600;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #3fb592;

  }
  mat-card-content{
    table {
      margin-top:1rem;

      .mat-column-name {
        border-right:1px solid #3fb592; ;
      }
      .mat-mdc-header-cell,
      .mat-mdc-cell {
        font-size: 1.3rem;
        color: #3fb592;
      } 
    }
  }
}