:host{
  display: block;
  width: 400px;
  background-color: #E0F2F1;
}

mat-card {
  mat-card-header {
    display:flex;
    justify-content: center;

  mat-card-title {
    font-size: 2rem;
    color:#3489eb

  }
}
mat-form-feld {
    width: 100%;
    padding-top: 1rem;
  }
  mat-card-actions {
   button{
      margin: auto;
      width: 90%;
   }
   h4{
      margin: 0;
      padding-right: 3rem;
    }
   }
    }



