    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav
        #sidenav
        mode="side"
        [opened]="isSidenavOpen"
        class="app-sidenav"
      >
        <page-side-nav></page-side-nav>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-content">
        <page-header
          [showMenuButton]="true"
          (toggleSidenav)="sidenav.toggle()"
        ></page-header>

        <main class="main-content">
          <router-outlet></router-outlet>
        </main>

        <page-footer></page-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
