:host {
  background-color: purple;
}
mat-toolbar{
   background-color: purple;
    color: white;
    .spacer {
        flex:1 1 auto;
    }
    .user-info{
        display:flex;
        align-items:center;

        button{
            margin-right:1.5rem;
        }
    }
}
